html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.fundo-paginas-conta {
    background-image: url('/img/forest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#ecocycle_hr {
    border: none;
    opacity: 1;
    height: 4px;
    color: #000000;
    background-color: #000000;
}

#card_container {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    #card_container {
        width: 95%;
        margin: 10px auto;
    }
}

@media (max-width: 400px) {
    #card_container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.justificado {
    text-align: justify;
}


.hero-banner {
    width: 100%;
    background-image: url('../img/bgherobannerecocycle.webp');
}

.glass-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(3px);
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.rodape.footer {
    position: static;
}

.rodape {
    background-color: #2C3E50;
}

.footer-line {
    width: 250px;
    height: 5px;
    background: #EFF8D3;
    margin: 0;
}

.footer-line-mobile {
    width: 170px;
    height: 5px;
    background: #EFF8D3;
    margin: 0;
}

.footer-line2 {
    width: 100%;
    height: 5px;
    background: #828282;
    margin: 0;
}

.footer-subtitle {
    font-style: italic;
    color: #EFF8D3;
    margin: 0px -10px;
}

.contato {
    font-style: italic;
    opacity: 75%;
}

.bg-servicos {
    background-image: url('../img/bgservicos.png');
}

.bg-produtos {
    background-image: url('../img/bgprodutos.jpg');
}

.bg-locais {
    background-image: url('../img/bglocais.jpg');
}

.bg-informacoes {
    position: relative;
    background-image: url('../img/bginformacoes.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

    /* imagem espelhada à esquerda */
    .bg-informacoes::before {
        content: "";
        position: absolute;
        left: -137px;
        top: 0;
        height: 100%;
        width: 30%; /* ajuste conforme necessário */

        background-image: url('../img/bginformacoes.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        transform: scaleX(-1);
        transform-origin: center;
        pointer-events: none;
    }

.cooperadores {
    background-color: #1ABC9C;
}
