@{
	ViewData["Title"] = "Nossa Equipe";
}
<div class="container justify-content-center align-items- d-flex flex-column">
	<h1 class="">@ViewData["Title"]</h1>
	<hr class="w-50" />
</div>

<div class="container">
	<div>
		<div class="d-flex align-items-center mt-5">
			@*Membros da Equipe*@
			<div class="col-4 d-flex flex-column align-items-center">
				<img class="w-50 h-50" src="~/img/enzo.png" />
				<h2 class="mt-3">Enzo</h2>
				<p class="fs-5">Líder da Equipe</p>
			</div>
			<div class="col-8 fs-3">Líder da Equipe da EcoCycle, fundador da idéia do projeto. Programador Front-End e Back-End do site, sempre procurando expandir seu conhecimento na área de programação.</div>
		</div>
		<div class="d-flex align-items-center mt-5">
			<div class="col-4 d-flex flex-column align-items-center">
				<img class="w-50 h-50" src="~/img/Gabriel.png" />
				<h2 class="mt-3">Gabriel</h2>
				<p class="fs-5">Designer</p>
			</div>
			<div class="col-8 fs-3">Um dos designers da equipe,  tem um sonho de se tornar psicólogo porém sempre dá seu melhor para contribuir com o que consegue, seja um footer, header, etc</div>
		</div>
		<div class="d-flex align-items-center mt-5">
			<div class="col-4 d-flex flex-column align-items-center">
				<img class="w-50 h-50" src="~/img/Michel.png" />
				<h2 class="mt-3">Michel</h2>
				<p class="fs-5">Designer, Programador</p>
			</div>
			<div class="col-8 fs-3">Um designer/programador do projeto, busca trabalhar na área um dia e tem grande competência com suas atividades.</div>
		</div>
		<div class="d-flex align-items-center mt-5">
			<div class="col-4 d-flex flex-column align-items-center">
				<img class="w-50 h-50" src="~/img/Luan.png" />
				<h2 class="mt-3">Luan</h2>
				<p class="fs-5">Designer</p>
			</div>
			<div class="col-8 fs-3">Um designer que sonha em um dia ser um desenvolvedor de jogos e ter as capacidades para tornar isso real, se esforçando para alcançar suas metas.</div>
		</div>
	</div>

	<div>
		@*Sobre a Ecocycle*@
		<div class="d-flex flex-column align-items-center mt-5">
			<h1 class="justify-content-center">Sobre a EcoCycle</h1>
			<p class="fs-4 justificado mt-2">
				A EcoCycle nasceu de um sonho de fazer o mundo um lugar mais limpo e facilitar a vida de toda comunidade que sofre com as consequências da poluição.
				O que muitas pessoas consideram lixo, nós consideramos uma oportunidade de criar e ajudar nossas comunidades.
				Temos grande conexão com os ODS 11, 12 e 13 da ONU, e sempre queremos fazer mais pela população.
			</p>
		</div>
		<div class="d-flex flex-column align-items-center mt-5">
			<h1 class="justify-content-center">Nossa Solução</h1>
			<p class="fs-4 justificado mt-2">
				Para alcançar nossos objetivos, nós da EcoCycle desenvolvemos um projeto de lixeira automática que divide os resíduos entre seus devidos compartimentos, além de também uma forma de produzir fertilizantes com qualquer forma de lixo orgânico.
				Pretendemos transformar todo e qualquer entulho em valor econômico. Para saber mais sobre nosso processo, clique aqui.
			</p>
		</div>
		<div class="d-flex flex-column mt-5">
			<h1 class="justify-content-center align-self-center">Nosso Impacto vai Além do Lixo</h1>
			<p class="fs-4 justificado mt-2">
				Além de reduzir a quantidade de lixo em áreas urbanas, nosso projeto também afeta: <br />
				•Geração de energia: menos lixo em aterros, mais lixo nas usinas. <br />
				•Socialmente: podemos gerar renda para cooperativas vendendo o lixo. <br />
				•Ambiental: Redução de aterros e emissões.
			</p>
		</div>
	</div>

</div>
<div class="py-5 w-100 d-flex flex-column align-items-center" style="background-color: #9EC8B9">
	@* O conteúdo desta div interna está centralizado HORIZONTALMENTE pela classe align-items-center da div PAI *@
	<div class="w-100">
		<h1 class="text-center fst-italic">Contato</h1>

		<div class="container w-100 py-3">
			<div class="row align-items-center mt-2">

				<p class="col-2 col-form-label text-end">Nome:</p>

				<div class="col-10">
					<input style="background-color: #D9D9D9; border-color: #000" class="form-control" type="text" id="nome" name="nome" placeholder="Nome">
				</div>

			</div>
			<div class="row align-items-center mt-2">

				<p class="col-2 col-form-label text-end">Email:</p>

				<div class="col-10">
					<input style="background-color: #D9D9D9; border-color: #000" class="form-control" type="text" id="nome" name="nome" placeholder="Email">
				</div>

			</div>
			<div class="row align-items-center mt-2">

				<p class="col-2 col-form-label text-end">Mensagem:</p>

				<div class="col-10">
					<textarea style="background-color: #D9D9D9; border-color: #000" class="form-control" type="text" id="nome" name="nome" placeholder="Mensagem"></textarea>
				</div>

			</div>
		</div>
	</div>
	<button style="background-color: #3AB4CF; color: white;" class="rounded-pill py-2 px-5">Enviar</button>
</div>