@{
	ViewData["Title"] = "Nossa Equipe";
}
<h1 class="justify-content-center">@ViewData["Title"]</h1>
<hr class="w-50 justify-content-center align-items-center" />

<div class="container">
	<div class="d-flex align-items-center mt-5">
		<div class="col-4 d-flex flex-column align-items-center">
			<img class="w-50 h-50" src="~/img/enzo.png" />
			<h2 class="mt-3">Enzo</h2>
			<p class="fs-5">Líder da Equipe</p>
		</div>
		<div class="col-8 fs-3">Líder da Equipe da EcoCycle, fundador da idéia do projeto. Programador Front-End e Back-End do site, sempre procurando expandir seu conhecimento na área de programação.</div>
	</div>
	<div class="d-flex align-items-center mt-5">
		<div class="col-4 d-flex flex-column align-items-center">
			<img class="w-50 h-50" src="~/img/Gabriel.png" />
			<h2 class="mt-3">Gabriel</h2>
			<p class="fs-5">Designer</p>
		</div>
		<div class="col-8 fs-3">Um dos designers da equipe,  tem um sonho de se tornar psicólogo porém sempre dá seu melhor para contribuir com o que consegue, seja um footer, header, etc</div>
	</div>
	<div class="d-flex align-items-center mt-5">
		<div class="col-4 d-flex flex-column align-items-center">
			<img class="w-50 h-50" src="~/img/Michel.png" />
			<h2 class="mt-3">Michel</h2>
			<p class="fs-5">Designer, Programador</p>
		</div>
		<div class="col-8 fs-3">Um designer/programador do projeto, busca trabalhar na área um dia e tem grande competência com suas atividades.</div>
	</div>
	<div class="d-flex align-items-center mt-5">
		<div class="col-4 d-flex flex-column align-items-center">
			<img class="w-50 h-50" src="~/img/Luan.png" />
			<h2 class="mt-3">Luan</h2>
			<p class="fs-5">Designer</p>
		</div>
		<div class="col-8 fs-3">Um designer que sonha em um dia ser um desenvolvedor de jogos e ter as capacidades para tornar isso real, se esforçando para alcançar suas metas.</div>
	</div>

</div>
